.order-table {
  margin-top: 20px;
}

.order-table th,
.order-table td {
  text-align: left;
}

.order-table th {
  background-color: #28a745;
  color: #fff;
}

.order-table td {
  border-bottom: 1px solid #ddd;
}

.order-status {
  color: #28a745;
}

.pending-status {
  color: #dc3545;
}

.namebtn {
  border-radius: 10px;
  background-color: rgb(179, 214, 245);
  border: black;
  width: 100px;
  padding: 8px;
  margin: 5px;
}
